

{% extends 'base.html'%} 

{% block head%} 

Subscribe

{%endblock%}

{% block body%} 



</div> <div style="height: 2622px;;"> 
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeUhVYQoOLKdcbwwopIbSFCtt4ukpelRkczjLfjFiHP01aSJA/viewform?embedded=true" width="640" height="2622" frameborder="0" marginheight="0" marginwidth="0" style = "width:100%; height:2622px; overflow: x-hidden;" scrolling = "no">Loading…</iframe>
</div> </div>
<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfGVyLZYhGr4x20gTKCdZQTAOORucZZC3Uh01TF__8sOQ3YzQ/viewform?embedded=true"  scrolling="no" style = "width:100%; height:1860px; overflow: x-hidden;"  frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div> -->


{%endblock%}



    