{%extends 'base-dashboard.html'%}
{%block head%} Manage Plan {% endblock %}


{%block body%} 
<!-- Main content -->
<main class="flex-1 max-h-full p-5 overflow-hidden overflow-y-scroll" style="background-color: #F9FAFB;">

    <!-- Main content header -->
    <div
      class="flex flex-col items-start justify-between pb-6 space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row text-center"
    >
      <h1 class="text-2xl font-semibold whitespace-nowrap text-center">Your Donations</h1>
    </div>

    <div class="mt-4 p-5"> 
        <div class="flex mb-4">
            <div class="w-full bg-white px-6 shadow-xl  bg-white mr-2 p-5">
                <h2 class="text-2xl"> <h2 class="font-bold -mb-4">Note:</h2><br>
                We don't offer subscription services for donations yet because we are 
                still in the process to register as an NGO. 
                    However, if you are considering donating to your favorite cause areas through Give In Public, please fill out below form so we can
                    update you as soon as we are all set up.
                       </h2> <br> <br>
            
                       <div style="height: 2622px; width:auto"> 
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeUhVYQoOLKdcbwwopIbSFCtt4ukpelRkczjLfjFiHP01aSJA/viewform?embedded=true" width="auto" height="2522" frameborder="0" marginheight="0" marginwidth="0" style = "width:100%; height:2622px; overflow: x-hidden;" scrolling = "no">Loading…</iframe>
                    </div> 
            </div>
        </div>
    </div>


    
 </main>

      



{%endblock%}